<html>
<head>
    <meta charset="UTF-8">
    <title>Home SSR</title>


</head>


<body>
    <h1>Tran Quang Khai</h1>
    <div id="root"></div>
    <script src="bundle.js"></script>
    <!--<script type="text/babel" src="app.js"></script>-->
</body>

</html>